* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #FFFFFF;
    padding-top: 80px;

}

.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #EBF1FF;
    border-bottom: 5px solid #D8DFE0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 40px;
    z-index: 1000;
}

.left-icons {
    display: flex;
    align-items: center;
    gap: 25px;
    background: white;
}

.olx-logo {
    width: 58px;

}


.nav-item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    transition: background 0.2s;
}

.nav-item:hover {
    background: #dbe7ff;
}

.right-actions a {
    margin-right: 15px;
    font-size: 15px;
    text-decoration: underline#002f34;
    color: #002f34;
    font-weight: 900;
    justify-content: space-evenly;

}

.sell-btn {
    background: #FFFFFF;
    border: 5px solid #23e5bd;
    border-top-color: #ffce32;
    border-right-color: #3a77ff;
    border-bottom-color: #3a77ff;
    padding: 6px 20px;
    border-radius: 30px;
    font-weight: 900;
    cursor: pointer;
    color: #002F34;
}

.search-section {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 40px;
    background: #FFFFFF;
    position: fixed;
    margin-top: 190px;
    border-bottom: 5px solid #D8DFE0;
    width: 50%;
    justify-content: space-evenly;

}

.location-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #FFFFFF;
    padding: 12px 15px;
    border-radius: 1px;
    min-width: 190px;
    border: 2px solid #406367;
    color: orange;

}

.location-box select {
    border: none;
    background: transparent;
    font-size: 14p;
    outline: #002f34;
    font-weight: 900;
    color: #002f34;
    cursor: text;
}

.search-box {
    flex: 1;
    display: flex;
    background: #FFFFFF;
    border-radius: 1px;
    overflow: hidden;

}

.search-box input {
    flex: 1;
    padding: 12px;
    border: 2px solid #406367;
    background: transparent;
    font-size: 15px;
    outline: none;
    color: #002f34;
    ;
}

.search-btn {
    width: 60px;
    border: none;
    background: #002F34;
    color: white;
    cursor: pointer;
}

.category-nav {
    display: flex;
    gap: 25px;
    padding: 12px 40px;
    background: #FFFFFF;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin: 120px 0 0 480px;
}

.all-cat {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.category-nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background: #FFFFFF;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.category-nav a {
    text-decoration: none;
    color: #002f34;
    font-weight: 500;
}

.category-nav .active {
    font-weight: bolder;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.banners {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner1,
.banner2 {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.icon-grid {
    width: 100%;
    padding: 30px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 28px;
    text-align: center;
}

.icon-grid .item {
    background: #FFFFFF;
    padding: 18px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #eee;
    transition: 0.2s;
}

.icon-grid .item:hover {
    box-shadow: 0 2px 8px #dcdcdc;
}

.icon-grid img {
    width: 95px;
    height: 95px;
    object-fit: contain;
    margin-bottom: 8px;
}

.icon-grid p {
    font-size: 14px;
    font-weight: 600;
    color: #002f34;
}

.products-section {
    width: 90%;
    margin: 30px auto;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.section-header h2 {
    font-size: 20px;
    font-weight: 700;
    color: #002f34;
}

.section-header .view-more {
    text-decoration: none;
    color: #3a77ff;
    font-size: 15px;
}

.product-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.product-card:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.price {
    font-size: 18px;
    font-weight: 700;
    color: #002f34;
}

.price-row i {
    font-size: 20px;
    cursor: pointer;
}

.title {
    margin-top: 6px;
    font-size: 14px;
    color: #002f34;
    font-weight: 300;
    height: 34px;
}

.location {
    margin-top: 4px;
    font-size: 12px;
    color: #5F6A75;
}

.week {
    color: #5F6A75;
    font-size: 14px;
}

.used {
    color: #5F6A75;
    font-weight: bolder;
}
img:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}
.olx-footer {
    width: 100%;
    background: #f7f8f9;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left h1 {
    font-size: 30px;
    font-weight: 700;
    color: #002f34;
    margin-bottom: 8px;
}

.footer-left .blue-text {
    font-size: 25px;
    color: #3a77ff;
    font-weight: 600;
}

.footer-center img {
    width: 230px;
}

.footer-right {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.footer-right img {
    width: 150px;
    cursor: pointer;
}

.footers-left{
    display: flex;
    margin: 0 auto;
    gap: 80px;
    background: #F2F4F5;
    padding: 25px;
    justify-content: space-around;
    border-top: 5px solid#FFFFFF;
    margin-top: 3250px;
}

.footers-box h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #272F34;
}
.footers-left {
    display: flex;
    gap: 80px;
    margin: 0 auto;
}
.footers-box p:hover {
    color: gray;
}
.footers-box p {
    margin: 4px 0;
    font-size: 18px;
    cursor: pointer;
    color: #002F34;
}
.footer-center h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}
.social-icons {
    display: flex;
    gap: 18px;
    font-size: 26px;
    color: #333;
}

.social-icons i {
    cursor: pointer;
}
.footers-left h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
 .footers {
    width: 68%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    color: #333;
    padding-bottom: 40px;
    margin: 0 auto;
}

.footer {
    width: 100%;
    background: #002F34;
   color: #dbe7ff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
font-weight: bolder;
    font-size: 16px;
}

.footer .center {
    text-align: center;
    flex: 1;
}

.footer .right {
    white-space: nowrap;
}